.main-block {
    width:80%;
    margin:auto; 
    margin-top: 7%;
}

li {
    position:relative;
    font-size:320%;
    margin-bottom: 5%;
}
.cat-image {
    height:129px;
    margin:0;
    float:left;
}

.cat-button {  
    vertical-align: middle;
    position:absolute;
    left:140px;
    top:18%;
    float:left;
}

.category {
    width:90%;
    border-top: 1px solid black;
    margin:0;

}
.category:hover {
    background-color: lightgray;
    transition: background-color 200ms linear;
}