.main-block {
    width:80%;
    margin:auto; 
    margin-top:2%;
}

.urls {
    margin-top:3%;
    margin-bottom:9%;
}

.kurls {
    width:60.5%;
    margin: auto;
    margin-top:1%;
}

.aurls {
    color:black;
}

.aurls:hover {
    color: black;
}

p {
    color:black;
}

li {
    position:relative;
    font-size:150%;
    margin-bottom: 1%;
}

.post-image {
    
    left: 0px;

    margin:0px;
}

.div-image{
    margin:0px;
    width:10%;
    float:left;
    border:1px solid black;
    border-radius: 5%;

}

.div-text{
    padding-left:20px;
    width:80%;
    float:left;    
}

.post-title {  
    position:relative;
    text-align: left;
    margin-right:auto;
    font-weight: bold;
    font-size:110%;
    text-decoration: underline;;
}

.post-description {
    position:relative;
    text-align: left;
}

.post-price{
    position:relative;
    text-align: left;
 
}

div.breakline {
    border-bottom:1px solid black;
    margin-top:2%;
    margin-bottom: 2%;
}

.copy-button {
    position:absolute;
    right:0;
    font-size: 80%;
}

.filters{
    width: 15.5%;
    margin: 1% 0% 0% 2%;
    position:fixed;
}

.filter-button{
    min-width: 55px;
    font-size:100%;
    padding:2%;
    width:22%;
    border:1px solid black;
    border-radius: 5%;
    display: inline-block;
}

.filter-buttons{
    text-align: center;
}

#reset:hover{
    background-color: rgb(219, 30, 24);
}

#filter_submit:hover{
    background-color: rgb(164, 235, 33);
}

.input-window {
    width:70%;
    float:right;
    position:relative;
}

.input-label{
    width: 20%;
    margin-bottom: 20px;
}

@media only screen and (max-width:1883px){
    .inputs{
        height:135px;
    }
    
    .input-label{
        height:auto;
        width:100%;
        margin:0;
    }

    .input-window{
        width:100%;
        position:relative;
    }

    div.breaklineFilter {
        border-bottom:2px dotted black;
        margin-top:2%;
        margin-bottom: 2%;
        width:100%;
        position: relative;
    }
}

div.breaklineFilter {
    border-bottom:2px dotted black;
    position:relative;
    margin-top:2%;
    margin-bottom: 2%;
    width:100%;
}



.links{
    margin-top:5%;
    margin:auto;
    width:75%;
}

.report-button{
    border: 1px solid black;
    border-radius: 20px;
    padding:4px 4px;
}